$blue: #0275D8;
$blue-light: #BEE1FF;
$orange: #F5A623;
$black: #000000;
$white: #ffffff;
$gray: #9B9B9B;

$color-primary: $blue;
$color-secondary: $blue-light;
$color-warning: $orange;
$color-black: $black;
$color-white: $white;
$color-gray: $gray;

$font-family-base: 'Roboto', sans-serif;

$border-radius-base: 8px;

%font-base {
  font-size: 20px;
  font-weight: normal;
  font-family: $font-family-base;
}

%font-title {
  font-size: 48px;
  font-weight: 300;
  font-family: $font-family-base;
  line-height: 57px;
  margin: 0;
}

%font-subtitle {
  @extend %font-title;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

%font-form {
  @extend %font-base;
}

%font-label {
  @extend %font-form;
  font-size: 14px;
}